# Ignore Python cache and temporary files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore virtual environments
venv/
.venv/

# Ignore data files
*.pdf

# Ignore system files
.DS_Store

# Ignore Git files
.git/
.gitignore
